@import "src/styles/mixins";
@import "src/styles/variables";
@import "src/styles/App.module";

.portfolio-section {
  @include base-section;
  .portfolio-section__pic-box {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    gap: 2em;
    justify-content: center;
    min-height: 50vh;
    min-width: 50vw;
    .portfolio-section__pic {
      border: solid;
    }
  }
}