.container {
  margin-bottom: 1em;
  .label {
    padding-bottom: 2em;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
    .input {
      border: 2px solid rgba(58, 146, 121, 0.74);
      border-radius: 0.25em;
      display: block;
      width: 100%;
      padding: 0.5em;
      font-size: 1em;
      &:focus {
        outline: none;
        border: 2px solid #070707;
      }
    }
  }
};

