@import "src/styles/mixins";
@import "src/styles/variables";
@import "src/styles/App.module";

.contact-section {
  @include base-section;
  .contact-section__form {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .contact-section__header {
      @include default-text;
      font-size: $font-size-large;
    }
    .contact-form__input {
      padding-bottom: 2em;
    }
  }
}