.header {
  .header-block__name {
    font-size: 2em;
    font-weight:600;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
    color: whitesmoke;
    &::before {
      content: "✌";
      margin-right: 3px;
    }
    &::after {
      content: "㋛";
      margin-left: 7px;
    }
  }
}