@import "src/styles/mixins";
@import "src/styles/variables";
@import "src/styles/style";

.aside {
  position: fixed;
  display: block;
  @media screen and (max-width: 900px){
    position: relative;

  }
  .asideSection {
    background-color: #1FA184;
    @include padding-margin (1em, 1em);
    display: flex;
    align-items: center;
    flex-direction: column;
    }
      .asideSection__avatar {
      .mainAvatar {
        display: block;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }
    .asideSection__fullName {
      text-align: center;
      color: whitesmoke;
      font-family:'Aldrich', sans-serif;
      font-size: 1.8em;
      font-weight: 700;
      text-transform: uppercase;
    }
    .asideSection__text {
      text-align: center;
      color: #b5b3b3;
      font-size:1.5em ;
      font-weight: 800;
    }
    .asideSection__list {
      width: 100%;
      height: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  .asideButton {
    text-align: center;
    @include padding-margin (1em, 1em);
    .aside-button__download {
      @include button;
    }
  }

