@import "mixins";
@import "variables";

body {
  background-color:$bg-color;
}


.asideMain__box {
  display: grid;
  grid-template-columns: 300px 1fr 100px;
  gap: 2em;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: whitesmoke;
  grid-column-start: 2;
  grid-column-end: 3;
}

@media (max-width: 1000px) {
  .about-section__inform {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
}