@import "mixins";
@import "variables";

body {
  background-color:$bg-color;
}


.asideMain__box {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2em;
  @media screen and (max-width: 900px){
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: whitesmoke;
  grid-column-start: 2;
  grid-column-end: 3;
}
