@import "--variables";
@import "--mixins";

body {
  background-color:$bg-color;
}

.simple_text {
  @include default-text;
}

.title_text {
  @include title_text;
}

.hello_text {
  @include timeframe-text;
}

.header {
  .header-block__name {
    font-size: 2em;
    font-weight: $font-weight-bold;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
    color: whitesmoke;
    &::before {
      content: "✌";
      margin-right: 3px;
    }
    &::after {
      content: "㋛";
      margin-left: 7px;
    }
  }
}

.footer {
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
  color: whitesmoke;
}

.aside-main__box {
  display: grid;
  grid-template-columns: 300px 1fr 100px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: whitesmoke;
  grid-column-start: 2;
  grid-column-end: 3;
  .experience-section {
    @include base-section;
    .experience-section__timeframe {
      @include timeframe-text;
    }
  }
  .ed-section {
    @include base-section;
    .ed-section__timeframe {
      @include timeframe-text;
    }
  }
  .portfolio-section {
    @include base-section;
    .portfolio-section__pic-box {
      display: grid;
      grid-template-columns: repeat(2, 45%);
      gap: 2em;
      justify-content: center;
      min-height: 50vh;
      min-width: 50vw;
      .portfolio-section__pic {
        border: solid;
      }
    }
  }
  .contact-section {
    @include base-section;
    .contact-section__form {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .contact-section__header {
        @include default-text;
        font-size: $font-size-large;
      }
      .contact-form__input {
        padding-bottom: 2em;
      }
    }
  }
}

input,
label {
  display: block;
}

textarea,
label {
  display: block;
}

.button {
  @include button;
}

.button-primary {
  @extend .button;
  margin: 1em;
}

.abbr-style {
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  font-family: Tahoma, sans-serif;
}

@media screen and (max-width: 1000px) {
  .about-section__inform {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
}