@import "src/styles/mixins";
@import "src/styles/variables";
@import "src/styles/App.module";

.aside {
  position: fixed;
  width: 300px;
  .aside-section {
    background-color: #1FA184;
    @include padding-margin (1em, 1em);
    display: flex;
    align-items: center;
    flex-direction: column;
    .aside-section__avatar {
      .main-avatar {
        display: block;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }
    .aside-section__fullname {
      text-align: center;
      color: whitesmoke;
      font-family:'Aldrich', sans-serif;
      font-size: 1.8em;
      font-weight: 700;
      text-transform: uppercase;
    }
    .aside-section__text {
      text-align: center;
      color: #b5b3b3;
      font-size:1.5em ;
      font-weight: 800;
    }
    .aside-section__list {
      width: 100%;
      height: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .aside-section__link {
        cursor: pointer;
        transition: 0.3s;
        border-radius: 10px;
        color: #40382D;
        box-shadow: inset 0 -5px 0 #40382D;
        &:hover {
          box-shadow: inset 0 -60px 0 #40382D, 2px 2px 3px rgba(0, 0, 0, 0.3);
          color: #DECDA5;
        }
      }
    }
  }
  .aside-button {
    background-color: #313c42;
    text-align: center;
    @include padding-margin (1em, 1em);
    .aside-button__download {
      @include button;
    }
  }
}
