@import "src/styles/mixins";
@import "src/styles/variables";
@import "src/styles/style";

.aboutSectionWrapper {
  @include base-section;
  .aboutSection__inform {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .aboutSection__box {
      @include default-text;
      .about-box__table {
        border-spacing: 0.3em;
      }
    }
    .aboutSection__list {
      @include default-text;
    }
  }
}

@media screen and (max-width: 1000px) {
  .about-section__inform {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
}