@mixin button-hover {
  background-color: whitesmoke;
  color: black;
  font-weight: bold;
}

@mixin padding-margin($padding, $margin) {
  padding: $padding;
  margin: $margin;
}

@mixin default-text {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-default);
}
:root {
  --bg-color: #121f26;
  /* Padding Variables (for example) */
  --padding-small: 0.5 em;
  --padding-medium: 1em;
  --padding-large: 1.25em;
  /* Font Size Variables */
  --font-size-small: 0.75em;
  --font-size-medium: 1em;
  --font-size-large: 1.5em;
  /* Font Weight Variables */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  /*Font family variables */
  --font-family-default: Arial, sans-serif;
}

body {
  background-color: var(--bg-color);
}

.simple_text {
  @include default-text;
}

.title_text {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-default);
  text-transform: uppercase
}

.header {
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  //background-color: #f5f5f5;
  //padding: 20px;
  .header-fix__block {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .header-block__name {
    //position: relative;
    font-size: 2em;
    font-weight: var(--font-weight-bold);
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
    color: whitesmoke;
    //grid-column-start: 2;
    //grid-column-end: 3;
    &::before {
      content: "✌";
      margin-right: 3px;
    }
    &::after {
      content: "㋛";
      margin-left: 7px;
    }
  }
}

.footer {
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
  color: whitesmoke;
}

.aside-main__box {
  display: grid;
  grid-template-columns: 300px 1fr 100px;
}

.aside {
  position: fixed;
  width: 300px;
  .aside-section {
    background-color: #1FA184;
    @include padding-margin (1em, 1em);
    display: flex;
    align-items: center;
    flex-direction: column;
    .aside-section__avatar {
      .main-avatar {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }
    .aside-section__fullname {
      text-align: center;
      color: whitesmoke;
      font-family:'Aldrich', sans-serif;
      font-size: 1.8em;
      font-weight: 700;
      text-transform: uppercase;
    }
    .aside-section__text {
      text-align: center;
      color: #b5b3b3;
      font-size:1.5em ;
      font-weight: 800;
    }
    .aside-section__list {
      width: 100%;
      height: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .aside-section__link {
        cursor: pointer;
        transition: 0.3s;
        border-radius: 10px;
        color: #40382D;
        box-shadow: inset 0 -5px 0 #40382D;
        &:hover {
          box-shadow: inset 0 -60px 0 #40382D, 2px 2px 3px rgba(0, 0, 0, 0.3);
          color: #DECDA5;
        }
      }
    }
  }
  .aside-button {
    background-color: #313c42;
    text-align: center;
    @include padding-margin (1em, 1em);
    .aside-button__download {
      font-size: 1.2em;
      padding: 0.5em 0.5em;
      color: whitesmoke;
      border: 3px solid whitesmoke;
      border-radius: 20px;
      background-color: transparent;
      cursor: pointer;
      transition: background-color 0.3s;
      &:hover {
        @include button-hover
      }
    }
  }
}



.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: whitesmoke;
  grid-column-start: 2;
  grid-column-end: 3;
  /*margin-right: 15em;*/
}

.about-section {
  width: 90%;
  background-color: #313c42;
  @include padding-margin (1em, 1em);
}

.about-box__name {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-default);
  text-transform: uppercase;
}

.hello_text {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-default);
}
.about-section__inform {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.experience-section {
  width: 90%;
  background-color: #313c42;
  @include padding-margin (1em, 1em);
}

.ed-section {
  width: 90%;
  background-color: #313c42;
  @include padding-margin (1em, 1em);
}

.portfolio-section {
  width: 90%;
  background-color: #313c42;
  @include padding-margin (1em, 1em);
}

.contact-section {
  width: 90%;
  background-color: #313c42;
  @include padding-margin (1em, 1em);
}

.about-box__table {
  border-spacing: 0.3em;
}

.about-section__box {
  font-size: 1em;
  font-weight: 400;
  font-family: var(--font-family-default);
}

.about-section__list {
  padding-right: 5em;
  font-size: 1em;
  font-weight: 400;
  font-family: var(--font-family-default);
}

input,
label {
  display: block;
}

textarea,
label {
  display: block;
}

.contact-form__button {
  margin-top: 2em;
  font-size: 0.7em;
  padding: 0.5em 0.5em;
  color: whitesmoke;
  border: 3px solid whitesmoke;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    @include button-hover
  }
}

.contact-form__button:hover {

}

.contact-section__form {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

h3 {
  box-sizing: border-box;
  width: 100%;
}

.contact-form__input {
  padding-bottom: 2em;
}

.contact-section__header {
  font-size: 1.5em;
  font-weight: 400;
  font-family: Arial, sans-serif;
}

.portfolio-section__pic-box {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  gap: 2em;
  justify-content: center;
  min-height: 50vh;
  min-width: 50vw;
}

.portfolio-section__pic1 {
  /*float: left;*/
  border: solid;
}

.portfolio-section__pic2 {
  /*float: right;*/
  border: solid;
}

.portfolio-section__pic3 {
  /*float: left;*/
  border: solid;
}

.portfolio-section__pic4 {
  /*float: right;*/
  border: solid;
}

.ed-section__timeframe {
  font-size: var(--font-family-large);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-default);
}

.experience-section__timeframe {
  font-size: var(--font-family-large);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-default);
}
.abbr-style {
  font-size: var(--font-family-large);
  font-weight: var(--font-weight-bold);
  font-family: Tahoma, sans-serif;
}



/*@media screen and (max-width: 768px) {*/
/*.contact-section {*/
/*    width: 32em;*/
/*    background-color: red;*/
/*}*/
/*}*/

/*.container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*}*/

/*.item {*/
/*    border: 3px solid red;*/
/*    padding: 10px;*/
/*    margin: 10px;*/
/*    color: whitesmoke;*/
/*    justify-content: center;*/
/*    !*width: 10em;*!*/
/*    height: 15em;*/
/*}*/

@media screen and (max-width: 1000px) {
  .about-section__inform {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
}